* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(168, 168, 168);
}

.title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 0.5rem;
}

.players-container {
  display: flex;
  gap: 0.5rem;
}

.players-container button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #d18484;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.message-container {
  display: none;
  gap: 1rem;
  margin-bottom: 1rem;
}

.message-container .message {
  font-size: 1.5rem;
  color: white;
}

.board-container {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: 600px;
  height: 600px;
}

.board-container div {
  display: flex;
  width: 200px;
  height: 190px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 3rem;
  background-color: rgb(241, 241, 241);
  color: black;
  cursor: pointer;
}

.board-container div:hover {
  background-color: rgb(214, 214, 214);
  color: white;
}

.board-container div:active {
  background-color: rgb(168, 168, 168);
  color: white;
}

.board-container div.winner {
  background-color: #d18484;
  color: white;
}

.score-container {
  display: none;
  gap: 5rem;
  margin: 1rem 0;
}

.score-container p {
  font-size: 1.5rem;
  color: white;
}

.button-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-containers button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: #7892da;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.reset {
  display: none;
}

.play-again {
  display: none;
}